html {
    font-family: monospace;
}

.seach-container {
    text-align: center;
    padding: 10px;
}

#seach-input {
    outline: none;
    width: 50%;
    padding: 10px;
    font-size: 20px;
} 

#seach-button {
    border: none;
    width: 20%;
    color: white;
    background-color: #6c5ce7;
    font-size: 20px;
    padding: 10px;
}

#seach-button:hover {
    background-color: #a29bfe;
}

.title {
    font-size: 30px;
    text-align: center;
}

.container {
    display: flex;
}

.button-info {
    border: none;
    padding: 10px;
    background-color: #ff7675;
    color: white;
    width: 100%;
}

.button-info:hover {
    background-color: #fab1a0;
}

#result {
    display: flex;
    flex-direction: column;
    gap: 10px;
    min-height: 100vh;
    width: 50%;
    border: 2px solid #6c5ce7;
    padding: 10px;
    list-style: none;
    margin: 0;
}

#planet-info {
    min-height: 100vh;
    width: 50%;
    border: 2px solid #00b894;
    padding: 10px;
}
#name {
    color: #e84393;
    font-size: 30px;
}

#planet-info > p {
    font-size: 15px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
    color: white;
    font-size: 14px;
    
}


th {
    background-color: #2d3436;
    padding: 10px;
    border: 1px solid #ccc;
}

td {
    background-color: #636e72;
    padding: 10px;
    border: 1px solid #ddd; 
}